#bvsc-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999;
  gap: 8px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 6px 12px;
}

#bvsc-overlay p {
  min-width: 35px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#bvsc-overlay button {
  padding: 4px 8px;
  min-width: 32px;
  min-height: 32px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
